.avatar-show-img {
  width: 128px;
  height: 128px;
}

.well.profile-block {
  color: #fff;
  h3 {
    margin-top: 0;
    }
}

.well.profile-description {
  background-color: #6eb73d;
  border-color: #d6f5f3;
}

.well.profile-contact-info {
  background-color: #4a76aa;
  border-color: #d6f5f3;
}